<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backpacking -login - signup</title>
    <link rel="icon" type="image/jpg" href="/static/img/favicon.jpg">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <header>
        <h2 class="title">Backpacking</h2>
        <nav class="navigation">
            <a href="canlogin.ejs">Home</a>
            <a href="canlogin.ejs">Blog</a>
            <a href="canlogin.ejs">Trip</a>
            <a href="canlogin.ejs">Services</a>
            <a href="canlogin.ejs">About</a>
            <button class="btnlogin-popup ">login</button>
        </nav>
    </header>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>
        <div class="form-box login">
            <h2>login</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required name="Email" id="Email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required name="Password" id="Password">
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn">login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a>
                </div>
            </form>
        </div>


        <div class="form-box register">
            <h2>Registration</h2>
            <form action="/register" method="POST">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" required name="Username" id="Username" >
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required name="Email" id= "Email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required name="Password" id="Password">
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> agree to the terms & conditions</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a>
                </div>
            </form>
        </div>

    </div>


    <script src="/static/js/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>